.kaart {
  margin: 5vh auto 10vh;
  width: 90vw;
  height: 90vh;
  display: grid;
  grid-template-columns: repeat(5, 16%);
  grid-template-rows: repeat(5, 16%);
  gap: 5%;

  @media (max-width: 1000px) {
    grid-template-columns: repeat(5, 18%);
    grid-template-rows: repeat(5, 18%);
    gap: 2.5%;
  }

  span {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
  }

  button {
    padding: 0;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 1rem;
    cursor: pointer;
    overflow-wrap: break-word;

    @media (max-width: 1000px) {
      font-size: 0.8rem;
    }

    &.checked {
      text-decoration: line-through;
    }
  }
}