.kaart {
  height: 300px;
  display: grid;
  grid-template-columns: repeat(5, 16%);
  grid-template-rows: repeat(5, 16%);
  gap: 5%;
  font-size: 0.6rem;
  border: 5px solid turquoise;
  margin-bottom: 1rem;

  span {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    text-overflow: ellipsis;

    &.checked {
      background-color: aquamarine;
    }
    &.done {
      font-weight: bold;
    }
  }
}